<%- include("partials/header.ejs") %>
<title>Richard M. Sahagun Jr. | Notes</title>
</head>
<body>

<div id="title-background">
    <div class="container py-5 px-0">
        <div class="mx-0 mb-5">
            <div class="col-12 p-0 mb-4">
                <h1 class="m-0" id="title">Richard M. Sahagun Jr.</h1>
            </div>
            <!-- Replace img src with acutall img cover and actual alt -->
            <img src="<%= `https://books.google.com/books/content?id=${book.cover_id}&printsec=frontcover&img=1&zoom=5&source=gbs_api` %>" alt="Book Cover" class="me-4 mb-2 book-cover-img">
            <h2 class="mb-4 heading">
            <!-- Add href -->
            <a href="" class="link"><%= book.title %></a>
            </h2>
            <div class="subtitle">Date read: <%= book.read_date %></div>
            <div class="subtitle mb-4">My rating: <%= book.rating %>/10</div>
            <p class="mx-0 justify"><%= book.summary %></p>
            <hr>
            <p><a href="/" class="p-0 link">Back</a></p>
        </div>
    </div>
</div>
<div id="body-background">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-12 p-0">
                <h2 class="m-0 heading">
                    My Notes
                </h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 p-0">
                <div class="subtitle">Last Update: <%= book.update_date %></div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 p-0">
                <p class="m-0 justify"><%= book.notes %></p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>